$ const {
  routeData,
} = input;
$ const { id, alias } = routeData;

<marko-web-dynamic-page-layout route-data=routeData>
  <@page>
    <h1>Page: ${alias}</h1>
  </@page>
</marko-web-dynamic-page-layout>
