$ const {
  routeData,
} = input;
$ const { id } = routeData;

<marko-web-magazine-publication-page-layout route-data=routeData>
  <@page>
    <h1>Magazine Publication: ${id}</h1>
  </@page>
</marko-web-magazine-publication-page-layout>
