$ const {
  id,
  alias,
} = input;
$ const { marko } = out.global;
$ const document = marko.get("document");

<${document}>
  <!-- <@head>
    <marko-web-content-page-metadata id=id />
    <${head} />
  </@head> -->
  <@container>
    <@page for="section" id=id type=alias>
      <h1>Section: ${alias}</h1>
    </@page>
  </@container>
</>
